<%- include('../layouts/header.ejs') %>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<section style="background-color: #eee;">
    <div class="text-center container py-5">
      <h4 class="mt-4 mb-5"><strong>Bestsellers</strong></h4>
  
      <div class="row">
        <% product.forEach((item) => { %>

        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="../product-images/<%= item.images[0]%>"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3"><%= item.name %></h5>
              </a>
              <a href="" class="text-reset">
                <p>Category</p>
              </a>
              <h6 class="mb-3">$<%= item.price %> </h6>
            </div>
          </div>
        </div>
  
    
  
        <% }) %>
    </div>
  </section>










<%- include('../layouts/footer.ejs') %>
